table#searchResult img[alt="Previous"] {
    position: absolute;
    margin-top: 1px;
    margin-left: -12px;
}
table#searchResult img[alt="Next"] {
    position: absolute;
    margin-top: 1px;
    margin-left: 2px;
}

.dnthHidden {
    transition: 0.2s;
}
.dnthBottomButton {
    margin-left: 20px;
}
